<div class="flex h-15 w-[1200px] items-center">
  <ul class="h-full flex items-center justify-end flex-1 gap-6">
    @for (nav of this.navigation; track $index) {
    <li class="relative h-full">
      <a [routerLink]="[nav.path]" [attr.data-active]="this.isActiveRouter(nav.path)"
        class="relative flex flex-col h-full w-[100px] justify-center items-center cursor-pointer hover:text-slate-200/80 transition-all duration-300 data-[active=true]:after:w-full data-[active=true]:after:h-0.5 data-[active=true]:after:bg-slate-200">
        <lucide-icon [img]="(nav.icon)"></lucide-icon>
        <span>{{nav.title}}</span>
      </a>
    </li>
    }
  </ul>
</div>